<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <b>
      <a class="navbar-brand" [routerLink]="['']">
        <img
          src="../../assets/images/preview.jpg"
          alt=""
          width="70"
          height="70"
          class="d-inline-block align-text-center"
        />
        Shopping Mall
      </a>
    </b>
    <button type="button" [routerLink]="['/cart']" class="btn btn-primary">
      <i class="fa fa-shopping-cart" [routerLink]="['/cart']"></i>
      <span class="badge badge-light">{{ count }}</span>
    </button>
  </div>
</nav>
